{% extends "base.html" %}

{% block title %}購物車 | 遊樂園{% endblock %}

{% block extra_css %}
<style>
    .empty-cart-container {
        min-height: 80vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #CCEEFF;
    }
    .empty-cart-title {
        color: #485652;
        font-size: 1.6em;
        font-weight: bold;
        margin-bottom: 32px;
        text-align: center;
    }
    .empty-cart-img {
        width: 220px;
        max-width: 80vw;
        display: block;
        margin: 0 auto;
    }
</style>
{% endblock %}

{% block header_attributes %}style="z-index:10; position:fixed; top:0; left:0; width:100%;"{% endblock %}

{% block main_attributes %}style="margin-top:90px;"{% endblock %}

{% block content %}
<div class="empty-cart-container">
    <div class="empty-cart-title">購物車目前是空的~快去選購吧！</div>
    <img src="{{ url_for('static', filename='images/emptyshopping.png') }}" alt="購物車空" class="empty-cart-img">
</div>
{% endblock %}
